<html>
<body style="background-color:powderblue;">

<h1><i>Welcome to Image Sharer</i></h1>
</body>

<h3><%= link_to 'Add images', new_image_path %></h3>

<% @images.reverse.each do |image| %>
    <div>
      <%= image_tag image.link, size: '300'%><br>
      <%= link_to'Show', image_path(image.id)%>
    </div>
<% end %>
</html>
